:root {
  --PrimaryColor: #eedac2;
  --SecondaryColor: #e5a88b;
  --gradientColor: linear-gradient(to right, #cf7956, #e5a88b);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: #646763;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(230, 223, 223);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHoover: rgb(255, 255, 255);
  --subtitleTextColor: #444955;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@300&family=Sacramento&display=swap');
/*
font-family: 'Great Vibes', cursive;
font-family: 'Kalam', cursive;
font-family: 'Sacramento', cursive;
*/

.o-meni {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.red-a {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.o-meni-col {
  margin: 30px;
  flex: 1;
  padding: 30px 2px;
}

.profilna {
  max-width: 250px;
  border-radius: 1.5rem;
}

.o-meni-col h1 {
  color: var(--textColor);
  padding-top: 50px;
  padding-left: 50px;
}

.o-meni-col p {
  color: var(--textColor);
  padding-top: 20px;
  padding-bottom: 20px;
}

.o-meni-col .potpis {
  font-family: "Allura", cursive;
  font-size: 2rem;
}

.vise {
  border: 1px solid #DF646E;
  background: transparent;
  color: #DF646E;
}

.vise:hover {
  color: white;
}



.onama {
  margin-bottom: 70px;
}

.onamatekst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/onama.jpg');  
  height: 500px;
  background-size: cover;
}

.onamanaslov {
  color: #29335C;
  font-size: 30px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  width: 400px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#namapodvuceno {
  text-decoration: underline;
  text-decoration-color: #cf7956;
  text-decoration-thickness: 5px; 
  padding-left: 5px;
}
.onamapasus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  color: #29335C;
  font-size: 18px;
  text-align: center;
}
.nastimnaslov {
  color: #29335C;
  font-size: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.tim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dok1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-bottom: 50px;
}
.dok2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-bottom: 50px;

}
.dok3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-bottom: 50px;

}

.dokslika {
  flex: 30%;
}
.dokslika img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.dokopis {
  flex: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  justify-content: center;
  align-items: center;
}
.dokopis2 {
  flex: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  justify-content: center;
  align-items: center;
}

.doktxt {
  text-align: center;
  padding-top: 20px;
  color: #29335C;
  padding-bottom: 40px;
  font-size: 17px;
}

.dokime {
  font-size: 22px;
  color: #29335C;
}
.dokpotpis1 p {
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}
.dokpotpis2 p {
  font-family: 'Kalam', cursive;
  font-size: 25px;
}
.dokpotpis3 p {
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}

/*media*/
@media (max-width: 500px) {
  .onamatekst { 
    height: 300px;
  }
  
  .onamanaslov {
    width: 200px;
    height: 100px;
    font-size: 20px;
  }
  .onamapasus{
    font-size: 12px;
    width: 100%;
    padding: 10px;
    padding-top: 30px;
  }
  
  .nastimnaslov {
    font-size: 20px; 
    padding-bottom: 30px;
  }
  
  
  .dok1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dok2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .dok3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .dokslika img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
  }
  .dokime h3{
    font-size: 16px;
  }
  .dokopis{
    padding-left: 0px;
  }
  
  .dokopis2 {
    padding-right: 0px;
  }
  
  .doktxt {
    font-size: 12px;
  }

  
  .dokpotpis1 p {
    font-family: 'Great Vibes', cursive;
    font-size: 14px;
  }
  .dokpotpis2 p {
    font-family: 'Kalam', cursive;
    font-size: 14px;
  }
  .dokpotpis3 p {
    font-family: 'Sacramento', cursive;
    font-size: 14px;
  }
  
}/*# sourceMappingURL=about.css.map */