.formalogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listapacijenata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.pacijenti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 2px black solid;
}

.modal1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 2px black solid;
}

.naslovpregled {
    padding-top: 200px;
}

.formapregled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.pregled {
    display: flex;
    flex-direction: row;
}

.listapregleda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1{
    padding: 150px;
}