.formalogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}